root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{py,toml}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json,html,css,js}]
indent_style = space
indent_size = 2 